.DS_Store
node_modules
public/bundle.*
package-lock.json
yarn.lock
public/pdf.worker.js
public/pdfViewer.css
public/pdfViewer.js
public/service-worker.js
public/cert.pem
public/key.pem
cert.pem
key.pem